/* .coin-info-heading,.coin-info-desc{
    margin: 1em;
} */
.coin-info-heading{
    padding-top:1rem;
}
.coin-info-desc{
    padding-bottom: 1rem;
    cursor: pointer;
    transition: all 1s;
}
.coin-info-desc a{
    text-decoration: underline !important;
}
.coin-info-desc a:hover{
    text-decoration: none !important;
    color:var(--blue) !important;
}
